@page "/"

<h1>Hello, world!</h1>

Hello, my name is Stirling Sites and I am a sophmore majoring in Software Engineering as Florida Gulf Coast University.

<SurveyPrompt Title="How is Blazor working for you?" />
